In [1]:
import pandas as pd
import pyodbc

In [2]:
DB = {'servername': 'LAPTOP-LPE28RPE\SQLEXPRESS', 
    'database': 'United_outdoors'}

export_conn = pyodbc.connect('DRIVER={SQL Server};SERVER=' + DB['servername'] + 
                              ';DATABASE=' + DB['database'])

export_cursor = export_conn.cursor()
export_cursor

In [3]:

Adventure = {
    'servername' : 'LAPTOP-LPE28RPE\SQLEXPRESS',
    'database' : 'AdventureWorks2019'
}


Northwind = {
    'servername' : 'LAPTOP-LPE28RPE\SQLEXPRESS',
    'database' : 'Northwind'
}

access_db_path = r'C:\Users\Humberto de Castro\OneDrive\Desktop\SEM4\AenC\aenc.accdb'

#Connect to AdventureWorks
Adventure_conn = pyodbc.connect(f"DRIVER={{SQL Server}};SERVER={Adventure['servername']};DATABASE={Adventure['database']};Trusted_Connection=yes;")
Adventure_cursor = Adventure_conn.cursor()

#Connect to Northwind
Northwind_conn = pyodbc.connect(f"DRIVER={{SQL Server}};SERVER={Northwind['servername']};DATABASE={Northwind['database']};Trusted_Connection=yes;")
Northwind_cursor = Northwind_conn.cursor()

#Connect to AenC
AenC_conn = pyodbc.connect(f"DRIVER={{Microsoft Access Driver (*.mdb, *.accdb)}};DBQ={access_db_path};")

In [4]:
AdventureWorks_queries = {
    'AW_Customer' : 'SELECT * FROM Sales.Customer',
    'Person' : 'SELECT * FROM Person.Person',
    'BusinessEntity' : 'SELECT * FROM Person.BusinessEntity',
    'BusinessEntityAddress' : 'SELECT * FROM Person.BusinessEntityAddress',
    'PersonAddress' : 'SELECT * FROM Person.Address',
    'StateProvince' : 'SELECT * FROM Person.StateProvince',
    'CountryRegion' : 'SELECT * FROM Person.CountryRegion',
    'Territory' : 'SELECT * FROM Sales.SalesTerritory',
    'PersonPhone' : 'SELECT * FROM Person.PersonPhone',
    'Store' : 'SELECT * FROM Sales.Store'
}

Northwind_queries = {
    'NW_Customer' : 'SELECT * FROM Customers'
}

AenC_queries = {
    'state' : 'SELECT * FROM state',  # Add state table query
    'AC_Customer' : 'SELECT * FROM Customer',  # Add Customer table query
    'region' : 'SELECT * FROM region'
}

dataframes = {}

# Lees elke tabel in een DataFrame

for table_name, query in AdventureWorks_queries.items():
    dataframes[table_name] = pd.read_sql_query(query, Adventure_conn)

for table_name, query in Northwind_queries.items():
    dataframes[table_name] = pd.read_sql_query(query, Northwind_conn)

for table_name, query in AenC_queries.items():
    dataframes[table_name] = pd.read_sql_query(query, AenC_conn)

#als je ik elk tabel als een dataframe/ variabele wil behandelen of aanroepen moet ik dit uitvoeren.
for table_name, df in dataframes.items():
    globals()[table_name] = df

C:\Users\Humberto de Castro\AppData\Local\Temp\ipykernel_75724\1065478296.py:29: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dataframes[table_name] = pd.read_sql_query(query, Adventure_conn)
C:\Users\Humberto de Castro\AppData\Local\Temp\ipykernel_75724\1065478296.py:32: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dataframes[table_name] = pd.read_sql_query(query, Northwind_conn)
C:\Users\Humberto de Castro\AppData\Local\Temp\ipykernel_75724\1065478296.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dataframes[table_name] = pd.read_sql_query(query, AenC_conn)

### Customer

AdventureWorks

In [5]:
# Drop duplicate columns before merging
columns_to_drop = ['rowguid', 'ModifiedDate']

# Drop duplicate columns if they exist in the DataFrames
Person = Person.drop(columns=[col for col in columns_to_drop if col in Person.columns])
BusinessEntityAddress = BusinessEntityAddress.drop(columns=[col for col in columns_to_drop if col in BusinessEntityAddress.columns])
PersonAddress = PersonAddress.drop(columns=[col for col in columns_to_drop if col in PersonAddress.columns])
StateProvince = StateProvince.drop(columns=[col for col in columns_to_drop if col in StateProvince.columns])
CountryRegion = CountryRegion.drop(columns=[col for col in columns_to_drop if col in CountryRegion.columns])
Territory = Territory.drop(columns=[col for col in columns_to_drop if col in Territory.columns])
Store = Store.drop(columns=[col for col in columns_to_drop if col in Store.columns])
PersonPhone = PersonPhone.drop(columns=[col for col in columns_to_drop if col in PersonPhone.columns])

# Drop additional duplicate columns from AW_Customer
AW_Customer = AW_Customer.drop(columns=[col for col in columns_to_drop if col in AW_Customer.columns])

# Now perform the merge operations
AW_Customer = pd.merge(AW_Customer, Person, left_on='PersonID', right_on='BusinessEntityID', suffixes=('', '_person'))
AW_Customer = pd.merge(AW_Customer, PersonPhone, on='BusinessEntityID', suffixes=('', '_phone'))
AW_Customer = pd.merge(AW_Customer, BusinessEntityAddress, on='BusinessEntityID', suffixes=('', '_business'))
AW_Customer = pd.merge(AW_Customer, PersonAddress, left_on='AddressID', right_on='AddressID', suffixes=('', '_personaddress'))
AW_Customer = pd.merge(AW_Customer, StateProvince, left_on='StateProvinceID', right_on='StateProvinceID', suffixes=('', '_stateprovince'))
AW_Customer = pd.merge(AW_Customer, CountryRegion, left_on='CountryRegionCode', right_on='CountryRegionCode', suffixes=('', '_countryregion'))
AW_Customer = pd.merge(AW_Customer, Territory, left_on='TerritoryID', right_on='TerritoryID', suffixes=('', '_Territory'))

print(AW_Customer)

       CustomerID  PersonID  StoreID  TerritoryID AccountNumber  \
0           11000   13531.0      NaN            9    AW00011000
1           11001    5454.0      NaN            9    AW00011001
2           11002   11269.0      NaN            9    AW00011002
3           11003   11358.0      NaN            9    AW00011003
4           11004   11901.0      NaN            9    AW00011004
...           ...       ...      ...          ...           ...
18503       29479    4191.0      NaN            7    AW00029479
18504       29480    4472.0      NaN           10    AW00029480
18505       29481    8168.0      NaN            8    AW00029481
18506       29482   12570.0      NaN            7    AW00029482
18507       29483   18384.0      NaN            7    AW00029483

       BusinessEntityID PersonType  NameStyle Title  FirstName  ...  \
0                 13531         IN      False  None        Jon  ...
1                  5454         IN      False  None     Eugene  ...
2                 11269         IN      False  None      Ruben  ...
3                 11358         IN      False  None    Christy  ...
4                 11901         IN      False  None  Elizabeth  ...
...                 ...        ...        ...   ...        ...  ...
18503              4191         IN      False  None      Tommy  ...
18504              4472         IN      False  None       Nina  ...
18505              8168         IN      False  None       Ivan  ...
18506             12570         IN      False  None    Clayton  ...
18507             18384         IN      False  None      Jésus  ...

                    Name TerritoryID_stateprovince Name_countryregion  \
0             Queensland                         9          Australia
1               Victoria                         9          Australia
2               Tasmania                         9          Australia
3        New South Wales                         9          Australia
4        New South Wales                         9          Australia
...                  ...                       ...                ...
18503            Yveline                         7             France
18504            England                        10     United Kingdom
18505             Bayern                         8            Germany
18506  Charente-Maritime                         7             France
18507     Hauts de Seine                         7             France

       Name_Territory CountryRegionCode_Territory    Group      SalesYTD  \
0           Australia                          AU  Pacific  5.977815e+06
1           Australia                          AU  Pacific  5.977815e+06
2           Australia                          AU  Pacific  5.977815e+06
3           Australia                          AU  Pacific  5.977815e+06
4           Australia                          AU  Pacific  5.977815e+06
...               ...                         ...      ...           ...
18503          France                          FR   Europe  4.772398e+06
18504  United Kingdom                          GB   Europe  5.012905e+06
18505         Germany                          DE   Europe  3.805202e+06
18506          France                          FR   Europe  4.772398e+06
18507          France                          FR   Europe  4.772398e+06

       SalesLastYear  CostYTD  CostLastYear
0       2.278549e+06      0.0           0.0
1       2.278549e+06      0.0           0.0
2       2.278549e+06      0.0           0.0
3       2.278549e+06      0.0           0.0
4       2.278549e+06      0.0           0.0
...              ...      ...           ...
18503   2.396540e+06      0.0           0.0
18504   1.635823e+06      0.0           0.0
18505   1.307950e+06      0.0           0.0
18506   2.396540e+06      0.0           0.0
18507   2.396540e+06      0.0           0.0

[18508 rows x 39 columns]

Northwind

In [6]:
# First, fill NaN values in ContactName to avoid split issues
NW_Customer['ContactName'] = NW_Customer['ContactName'].fillna('')

# Split ContactName into FirstName and LastName safely
split_names = NW_Customer['ContactName'].str.split(n=1, expand=True)

# Ensure there are two columns after split
split_names.columns = ['FirstName', 'LastName']

# Handle cases where the split resulted in a single part
split_names['LastName'] = split_names['LastName'].fillna('')

# Assign the split names back to the DataFrame
NW_Customer[['FirstName', 'LastName']] = split_names

# Now drop the ContactName column
NW_Customer.drop(columns=['ContactName'], inplace=True)

# Check the DataFrame to ensure the operation was successful
print(NW_Customer.head())

  CustomerID                         CompanyName          ContactTitle  \
0      ALFKI                 Alfreds Futterkiste  Sales Representative
1      ANATR  Ana Trujillo Emparedados y helados                 Owner
2      ANTON             Antonio Moreno Taquería                 Owner
3      AROUT                     Around the Horn  Sales Representative
4      BERGS                  Berglunds snabbköp   Order Administrator

                         Address         City Region PostalCode  Country  \
0                  Obere Str. 57       Berlin   None      12209  Germany
1  Avda. de la Constitución 2222  México D.F.   None      05021   Mexico
2                Mataderos  2312  México D.F.   None      05023   Mexico
3                120 Hanover Sq.       London   None    WA1 1DP       UK
4                Berguvsvägen  8        Luleå   None   S-958 22   Sweden

            Phone             Fax  FirstName  LastName
0     030-0074321     030-0076545      Maria    Anders
1    (5) 555-4729    (5) 555-3745        Ana  Trujillo
2    (5) 555-3932            None    Antonio    Moreno
3  (171) 555-7788  (171) 555-6750     Thomas     Hardy
4   0921-12 34 65   0921-12 34 67  Christina  Berglund

AenC

In [7]:
AC_Customer = pd.merge(AC_Customer, state, left_on = 'state', right_on = 'state_id')
AC_Customer = pd.merge(AC_Customer, region, on = 'region')

AC_Customer

,id,fname,lname,address,city,state,zip,phone,company_name,state_id,state_name,state_capital,country,region
0,101,Michaels,Devlin,3114 Pioneer Avenue,Rutherford,NJ,07070,2015558966,The Power Group,NJ,New Jersey,Trenton,USA,Eastern
1,102,Beth,Reiser,1033 Whippany Road,New York,NY,10154,2125558725,AMF Corp.,NY,New York,Albany,USA,Eastern
2,103,Erin,Niedringhaus,1990 Windsor Street,Paoli,PA,19301,2155556513,Darling Associates,PA,Pennsylvania,Harrisburg,USA,Eastern
3,104,Meghan,Mason,550 Dundas Street East,Knoxville,TN,37919,6155555463,P.S.C.,TN,Tennessee,Nashville,USA,Central
4,105,Laura,McCarthy,1210 Highway 36,Carmel,IN,46032,3175558437,Amo & Sons,IN,Indiana,Indianapolis,USA,Central
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121,552,Janice,O'Toole,654 West Hill,Nashville,TN,37320,6155553689,Greensleeves,TN,Tennessee,Nashville,USA,Central
122,553,Stevie,Nickolas,77 Recordings Circle,Tacoma,WA,96521,5095551695,It's a Hit!,WA,Washington,Olympia,USA,Western
123,555,Philipe,Fernandez,99 Main Street,Los Angeles,CA,90205,2135554457,Quaker Fashions,CA,California,Sacramento,USA,Western
124,661,Jennifer,Stutzman,3 Back Pages Lane,Missola,IL,60505,7085556857,Stutzman Advertising,IL,Illinois,Springfield,USA,Central
125,665,William,Thompson,91 Washington Street,Manchester,NY,11700,5165552549,The Apple Farm,NY,New York,Albany,USA,Eastern

In [8]:
print(NW_Customer)

   CustomerID                         CompanyName               ContactTitle  \
0       ALFKI                 Alfreds Futterkiste       Sales Representative
1       ANATR  Ana Trujillo Emparedados y helados                      Owner
2       ANTON             Antonio Moreno Taquería                      Owner
3       AROUT                     Around the Horn       Sales Representative
4       BERGS                  Berglunds snabbköp        Order Administrator
..        ...                                 ...                        ...
86      WARTH                      Wartian Herkku         Accounting Manager
87      WELLI              Wellington Importadora              Sales Manager
88      WHITC                White Clover Markets                      Owner
89      WILMK                         Wilman Kala  Owner/Marketing Assistant
90      WOLZA                      Wolski  Zajazd                      Owner

                          Address         City Region PostalCode  Country  \
0                   Obere Str. 57       Berlin   None      12209  Germany
1   Avda. de la Constitución 2222  México D.F.   None      05021   Mexico
2                 Mataderos  2312  México D.F.   None      05023   Mexico
3                 120 Hanover Sq.       London   None    WA1 1DP       UK
4                 Berguvsvägen  8        Luleå   None   S-958 22   Sweden
..                            ...          ...    ...        ...      ...
86                    Torikatu 38         Oulu   None      90110  Finland
87             Rua do Mercado, 12      Resende     SP  08737-363   Brazil
88    305 - 14th Ave. S. Suite 3B      Seattle     WA      98128      USA
89                  Keskuskatu 45     Helsinki   None      21240  Finland
90                ul. Filtrowa 68     Warszawa   None     01-012   Poland

             Phone             Fax  FirstName         LastName
0      030-0074321     030-0076545      Maria           Anders
1     (5) 555-4729    (5) 555-3745        Ana         Trujillo
2     (5) 555-3932            None    Antonio           Moreno
3   (171) 555-7788  (171) 555-6750     Thomas            Hardy
4    0921-12 34 65   0921-12 34 67  Christina         Berglund
..             ...             ...        ...              ...
86      981-443655      981-443655     Pirkko        Koskitalo
87   (14) 555-8122            None      Paula          Parente
88  (206) 555-4112  (206) 555-4115       Karl        Jablonski
89     90-224 8858     90-224 8858      Matti        Karttunen
90   (26) 642-7012   (26) 642-7012    Zbyszek  Piestrzeniewicz

[91 rows x 12 columns]

In [9]:
# Rename columns in AC_Customer
AC_Customer.rename(columns={
    'id': 'CustomerID',
    'fname': 'FirstName',
    'lname': 'LastName',
    'phone': 'Phone',
    'region' : 'Region',
    'country': 'Country',
    'state' : 'State',
    'city' : 'City',
    'zip' : 'PostalCode',
    'address': 'Address',
    
}, inplace=True)

# Rename columns in NW_Customer
NW_Customer.rename(columns={
    'CustomerID': 'CustomerID',  # already correctly named
    'Region' : 'State'

}, inplace=True)
# Rename columns in AW_Customer
AW_Customer.rename(columns={
    'CustomerID': 'CustomerID',  # already correctly named
    'PhoneNumber': 'Phone',
    'Group' : 'Region',
    'CountryRegionCode' : 'Country',
    'StateProvinceCode' : 'State',
    'AddressLine1' : 'Address',

}, inplace=True)

# Verify the changes
print("AC_Customers after renaming:")
print(AC_Customer.head())
print("NW_Customer after renaming:")
print(NW_Customer.head())
print("AW_Customer after renaming:")
print(AW_Customer.head())

AC_Customers after renaming:
  CustomerID FirstName      LastName                 Address        City  \
0        101  Michaels        Devlin     3114 Pioneer Avenue  Rutherford
1        102      Beth        Reiser      1033 Whippany Road    New York
2        103      Erin  Niedringhaus     1990 Windsor Street       Paoli
3        104    Meghan         Mason  550 Dundas Street East   Knoxville
4        105     Laura      McCarthy         1210 Highway 36      Carmel

  State PostalCode       Phone        company_name state_id    state_name  \
0    NJ      07070  2015558966     The Power Group       NJ    New Jersey
1    NY      10154  2125558725           AMF Corp.       NY      New York
2    PA      19301  2155556513  Darling Associates       PA  Pennsylvania
3    TN      37919  6155555463              P.S.C.       TN     Tennessee
4    IN      46032  3175558437          Amo & Sons       IN       Indiana

  state_capital Country   Region
0       Trenton     USA  Eastern
1        Albany     USA  Eastern
2    Harrisburg     USA  Eastern
3     Nashville     USA  Central
4  Indianapolis     USA  Central
NW_Customer after renaming:
  CustomerID                         CompanyName          ContactTitle  \
0      ALFKI                 Alfreds Futterkiste  Sales Representative
1      ANATR  Ana Trujillo Emparedados y helados                 Owner
2      ANTON             Antonio Moreno Taquería                 Owner
3      AROUT                     Around the Horn  Sales Representative
4      BERGS                  Berglunds snabbköp   Order Administrator

                         Address         City State PostalCode  Country  \
0                  Obere Str. 57       Berlin  None      12209  Germany
1  Avda. de la Constitución 2222  México D.F.  None      05021   Mexico
2                Mataderos  2312  México D.F.  None      05023   Mexico
3                120 Hanover Sq.       London  None    WA1 1DP       UK
4                Berguvsvägen  8        Luleå  None   S-958 22   Sweden

            Phone             Fax  FirstName  LastName
0     030-0074321     030-0076545      Maria    Anders
1    (5) 555-4729    (5) 555-3745        Ana  Trujillo
2    (5) 555-3932            None    Antonio    Moreno
3  (171) 555-7788  (171) 555-6750     Thomas     Hardy
4   0921-12 34 65   0921-12 34 67  Christina  Berglund
AW_Customer after renaming:
   CustomerID  PersonID  StoreID  TerritoryID AccountNumber  BusinessEntityID  \
0       11000   13531.0      NaN            9    AW00011000             13531
1       11001    5454.0      NaN            9    AW00011001              5454
2       11002   11269.0      NaN            9    AW00011002             11269
3       11003   11358.0      NaN            9    AW00011003             11358
4       11004   11901.0      NaN            9    AW00011004             11901

  PersonType  NameStyle Title  FirstName  ...             Name  \
0         IN      False  None        Jon  ...       Queensland
1         IN      False  None     Eugene  ...         Victoria
2         IN      False  None      Ruben  ...         Tasmania
3         IN      False  None    Christy  ...  New South Wales
4         IN      False  None  Elizabeth  ...  New South Wales

  TerritoryID_stateprovince Name_countryregion  Name_Territory  \
0                         9          Australia       Australia
1                         9          Australia       Australia
2                         9          Australia       Australia
3                         9          Australia       Australia
4                         9          Australia       Australia

  CountryRegionCode_Territory   Region      SalesYTD  SalesLastYear  CostYTD  \
0                          AU  Pacific  5.977815e+06   2.278549e+06      0.0
1                          AU  Pacific  5.977815e+06   2.278549e+06      0.0
2                          AU  Pacific  5.977815e+06   2.278549e+06      0.0
3                          AU  Pacific  5.977815e+06   2.278549e+06      0.0
4                          AU  Pacific  5.977815e+06   2.278549e+06      0.0

   CostLastYear
0           0.0
1           0.0
2           0.0
3           0.0
4           0.0

[5 rows x 39 columns]

Prefix

In [10]:
# Adding a prefix to EmployeeIDs for each source DataFrame
AW_Customer['CustomerID'] = AW_Customer['CustomerID'].apply(lambda x: f'AW_{x}')
NW_Customer['CustomerID'] = NW_Customer['CustomerID'].apply(lambda x: f'NW_{x}')
AC_Customer['CustomerID'] = AC_Customer['CustomerID'].apply(lambda x: f'AC_{x}')

mapping

In [11]:
country_mapping = {
    'Germany': 'DE',
    'Mexico': 'MX',
    'UK': 'GB',
    'Sweden': 'SE',
    'France': 'FR',
    'Spain': 'ES',
    'Canada': 'CA',
    'Argentina': 'AR',
    'Switzerland': 'CH',
    'Brazil': 'BR',
    'Austria': 'AT',
    'Portugal': 'PT',
    'Italy': 'IT',
    'Belgium': 'BE',
    'USA': 'US',  # Change 'USA' to 'US'
    'Ireland': 'IE',
    'Norway': 'NO',
    'Denmark': 'DK',
    'Finland': 'FI',
    'Poland': 'PL'
}

# Replace country names with abbreviations
NW_Customer['Country'] = NW_Customer['Country'].replace(country_mapping)

print(NW_Customer[['Country']])

   Country
0       DE
1       MX
2       MX
3       GB
4       SE
..     ...
86      FI
87      BR
88      US
89      FI
90      PL

[91 rows x 1 columns]

In [12]:
# Replace 'USA' with 'US' in the Country column
AC_Customer['Country'] = AC_Customer['Country'].replace('USA', 'US')

AC_Customer['Country'] = AC_Customer['Country'].replace('CAN', 'CA')

In [13]:
AC_Customer['Region'] = AC_Customer['Region'].replace({'south': 'Southern'})
AW_Customer['Region'] = AW_Customer['Region'].replace({'North America': 'Northern'})

In [14]:
required_columns_customer = [
    'CustomerID', 'FirstName', 'LastName', 'Phone', 'Region', 'Country', 'State', 'City', 
    'PostalCode', 'Address'
]

# Ensure all required columns exist in each Customer DataFrame
for col in required_columns_customer:
    if col not in AC_Customer.columns:
        AC_Customer[col] = None
    if col not in NW_Customer.columns:
        NW_Customer[col] = None
    if col not in AW_Customer.columns:
        AW_Customer[col] = None

# Select the columns in the correct order
AC_Customers = AC_Customer[required_columns_customer]
NW_Customer = NW_Customer[required_columns_customer]
AW_Customer = AW_Customer[required_columns_customer]

In [15]:
# Combine the DataFrames
Customer = pd.concat([AC_Customers, NW_Customer, AW_Customer], ignore_index=True)

# Print the data types of the combined DataFrame
print(Customer.dtypes)

# Print the first few rows to verify the concatenation
print(Customer.head())
print(Customer.info())

CustomerID    object
FirstName     object
LastName      object
Phone         object
Region        object
Country       object
State         object
City          object
PostalCode    object
Address       object
dtype: object
  CustomerID FirstName      LastName       Phone   Region Country State  \
0     AC_101  Michaels        Devlin  2015558966  Eastern      US    NJ
1     AC_102      Beth        Reiser  2125558725  Eastern      US    NY
2     AC_103      Erin  Niedringhaus  2155556513  Eastern      US    PA
3     AC_104    Meghan         Mason  6155555463  Central      US    TN
4     AC_105     Laura      McCarthy  3175558437  Central      US    IN

         City PostalCode                 Address
0  Rutherford      07070     3114 Pioneer Avenue
1    New York      10154      1033 Whippany Road
2       Paoli      19301     1990 Windsor Street
3   Knoxville      37919  550 Dundas Street East
4      Carmel      46032         1210 Highway 36
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18725 entries, 0 to 18724
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CustomerID  18725 non-null  object
 1   FirstName   18725 non-null  object
 2   LastName    18725 non-null  object
 3   Phone       18725 non-null  object
 4   Region      18634 non-null  object
 5   Country     18725 non-null  object
 6   State       18665 non-null  object
 7   City        18725 non-null  object
 8   PostalCode  18724 non-null  object
 9   Address     18725 non-null  object
dtypes: object(10)
memory usage: 1.4+ MB
None

In [16]:
for index, row in Customer.iterrows():
    try:
        query = """
        INSERT INTO Customer (
            CustomerID, FirstName, LastName, Phone, Region, Country, State, City, 
            PostalCode, Address
        ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
        """
        # Ensure values are in the correct format and set to None if null
        params = (
            row['CustomerID'] if pd.notnull(row['CustomerID']) else None,
            row['FirstName'] if pd.notnull(row['FirstName']) else None,
            row['LastName'] if pd.notnull(row['LastName']) else None,
            row['Phone'] if pd.notnull(row['Phone']) else None,
            row['Region'] if pd.notnull(row['Region']) else None,
            row['Country'] if pd.notnull(row['Country']) else None,
            row['State'] if pd.notnull(row['State']) else None,
            row['City'] if pd.notnull(row['City']) else None,
            row['PostalCode'] if pd.notnull(row['PostalCode']) else None,
            row['Address'] if pd.notnull(row['Address']) else None
        )
        export_cursor.execute(query, params)
    except pyodbc.Error as e:
        print(f"An error occurred: {e}")
        print(query)
        print("Parameters:", params)

# Commit the transaction
export_conn.commit()

### **Data_mutatie simuleren**

In [ ]:
# Function to merge data into Customer table
def merge_customer(customer_id, first_name, last_name, phone, region, country, state, city, postal_code, address):
    merge_query = "{CALL MergeCustomer (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)}"
    export_cursor.execute(merge_query, (customer_id, first_name, last_name, phone, region, country, state, city, postal_code, address))
    export_conn.commit()
    print("Merged into Customer table")

In [ ]:
try:
    # Merge into Customer table
    merge_customer('C123', 'John', 'Doe', '555-1234', 'Region1', 'Country1', 'State1', 'City1', '12345', '123 Main St')
    merge_customer('C123', 'Jane', 'Doe', '555-5678', 'Region1', 'Country1', 'State1', 'City1', '12345', '123 Main St')
    merge_customer('AW_29479', 'Jane', 'Doe', '555-5678', 'Region1', 'Country1', 'State1', 'City1', '12345', '123 Main St')

finally:
    # Close the connection
    print("Connection closed")