In [1]:
import pandas as pd
import pyodbc

In [3]:
DB = {'servername': 'LAPTOP-T9BQNNLC\SQLEXPRESS', 
    'database': 'United_outdoors'}

export_conn = pyodbc.connect('DRIVER={SQL Server};SERVER=' + DB['servername'] + 
                              ';DATABASE=' + DB['database'])

export_cursor = export_conn.cursor()
export_cursor

In [4]:

Adventure = {
    'servername' : 'LAPTOP-T9BQNNLC\SQLEXPRESS',
    'database' : 'AdventureWorks2019'
}


Northwind = {
    'servername' : 'LAPTOP-T9BQNNLC\SQLEXPRESS',
    'database' : 'Northwind'
}

access_db_path = r"C:\Users\grego\OneDrive\Desktop\thuas\aenc.accdb"

#Connect to AdventureWorks
Adventure_conn = pyodbc.connect(f"DRIVER={{SQL Server}};SERVER={Adventure['servername']};DATABASE={Adventure['database']};Trusted_Connection=yes;")
Adventure_cursor = Adventure_conn.cursor()

#Connect to Northwind
Northwind_conn = pyodbc.connect(f"DRIVER={{SQL Server}};SERVER={Northwind['servername']};DATABASE={Northwind['database']};Trusted_Connection=yes;")
Northwind_cursor = Northwind_conn.cursor()

#Connect to AenC
AenC_conn = pyodbc.connect(f"DRIVER={{Microsoft Access Driver (*.mdb, *.accdb)}};DBQ={access_db_path};")

In [11]:
AdventureWorks_queries = {
    'AW_Customer' : 'SELECT * FROM Sales.Customer'
}

Northwind_queries = {
    'NW_Customer' : 'SELECT * FROM Customers'
}

AenC_queries = {
    'state' : 'SELECT * FROM state',  # Add state table query
    'AC_Customer' : 'SELECT * FROM Customer'  # Add Customer table query
}

dataframes = {}

# Lees elke tabel in een DataFrame

for table_name, query in AdventureWorks_queries.items():
    dataframes[table_name] = pd.read_sql_query(query, Adventure_conn)

for table_name, query in Northwind_queries.items():
    dataframes[table_name] = pd.read_sql_query(query, Northwind_conn)

for table_name, query in AenC_queries.items():
    dataframes[table_name] = pd.read_sql_query(query, AenC_conn)

#als je ik elk tabel als een dataframe/ variabele wil behandelen of aanroepen moet ik dit uitvoeren.
for table_name, df in dataframes.items():
    globals()[table_name] = df

C:\Users\grego\AppData\Local\Temp\ipykernel_13780\2837238050.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dataframes[table_name] = pd.read_sql_query(query, Adventure_conn)
C:\Users\grego\AppData\Local\Temp\ipykernel_13780\2837238050.py:22: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dataframes[table_name] = pd.read_sql_query(query, Northwind_conn)
C:\Users\grego\AppData\Local\Temp\ipykernel_13780\2837238050.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dataframes[table_name] = pd.read_sql_query(query, AenC_conn)

In [27]:
#eerst horizontaal samenvoegen per database:
state_abbr_to_name = {
    'AL': 'Alabama', 'AK': 'Alaska', 'AZ': 'Arizona', 'AR': 'Arkansas', 'CA': 'California',
    'CO': 'Colorado', 'CT': 'Connecticut', 'DE': 'Delaware', 'FL': 'Florida', 'GA': 'Georgia',
    'HI': 'Hawaii', 'ID': 'Idaho', 'IL': 'Illinois', 'IN': 'Indiana', 'IA': 'Iowa',
    'KS': 'Kansas', 'KY': 'Kentucky', 'LA': 'Louisiana', 'ME': 'Maine', 'MD': 'Maryland',
    'MA': 'Massachusetts', 'MI': 'Michigan', 'MN': 'Minnesota', 'MS': 'Mississippi', 'MO': 'Missouri',
    'MT': 'Montana', 'NE': 'Nebraska', 'NV': 'Nevada', 'NH': 'New Hampshire', 'NJ': 'New Jersey',
    'NM': 'New Mexico', 'NY': 'New York', 'NC': 'North Carolina', 'ND': 'North Dakota', 'OH': 'Ohio',
    'OK': 'Oklahoma', 'OR': 'Oregon', 'PA': 'Pennsylvania', 'RI': 'Rhode Island', 'SC': 'South Carolina',
    'SD': 'South Dakota', 'TN': 'Tennessee', 'TX': 'Texas', 'UT': 'Utah', 'VT': 'Vermont',
    'VA': 'Virginia', 'WA': 'Washington', 'WV': 'West Virginia', 'WI': 'Wisconsin', 'WY': 'Wyoming',
    'DC': 'District of Columbia', 'AB': 'Alberta', 'BC': 'British Columbia', 'MB': 'Manitoba',
    'NB': 'New Brunswick', 'NL': 'Newfoundland', 'NS': 'Nova Scotia', 'ON': 'Ontario', 'PE': 'Prince Edward Island',
    'QC': 'Québec', 'SK': 'Saskatchewan', 'NT': 'Northwest Territories', 'NU': 'Nunavut', 'YT': 'Yukon Territory'
}

# Add state names to AC_Customer DataFrame
AC_Customer['state_name'] = AC_Customer['state'].map(state_abbr_to_name)

# Perform the merge based on state_name
AC_Customers = pd.merge(AC_Customer, state, on='state_name', how='inner')

# Display the merged DataFrame
print(AC_Customers)

      id     fname         lname                 address         city state  \
0    101  Michaels        Devlin     3114 Pioneer Avenue   Rutherford    NJ
1    102      Beth        Reiser      1033 Whippany Road     New York    NY
2    103      Erin  Niedringhaus     1990 Windsor Street        Paoli    PA
3    104    Meghan         Mason  550 Dundas Street East    Knoxville    TN
4    105     Laura      McCarthy         1210 Highway 36       Carmel    IN
..   ...       ...           ...                     ...          ...   ...
120  552    Janice       O'Toole           654 West Hill    Nashville    TN
121  553    Stevie      Nickolas    77 Recordings Circle       Tacoma    WA
122  555   Philipe     Fernandez          99 Main Street  Los Angeles    CA
123  661  Jennifer      Stutzman       3 Back Pages Lane      Missola    IL
124  665   William      Thompson    91 Washington Street   Manchester    NY

       zip       phone          company_name    state_name state_id  \
0    07070  2015558966       The Power Group    New Jersey       NJ
1    10154  2125558725             AMF Corp.      New York       NY
2    19301  2155556513    Darling Associates  Pennsylvania       PA
3    37919  6155555463                P.S.C.     Tennessee       TN
4    46032  3175558437            Amo & Sons       Indiana       IN
..     ...         ...                   ...           ...      ...
120  37320  6155553689          Greensleeves     Tennessee       TN
121  96521  5095551695           It's a Hit!    Washington       WA
122  90205  2135554457       Quaker Fashions    California       CA
123  60505  7085556857  Stutzman Advertising      Illinois       IL
124  11700  5165552549        The Apple Farm      New York       NY

    state_capital country   region
0         Trenton     USA  Eastern
1          Albany     USA  Eastern
2      Harrisburg     USA  Eastern
3       Nashville     USA  Central
4    Indianapolis     USA  Central
..            ...     ...      ...
120     Nashville     USA  Central
121       Olympia     USA  Western
122    Sacramento     USA  Western
123   Springfield     USA  Central
124        Albany     USA  Eastern

[125 rows x 14 columns]

In [43]:
print(AC_Customers.dtypes)

CustomerID       object
FirstName        object
LastName         object
Address          object
City             object
Region           object
PostalCode       object
Country          object
Phone            object
CompanyName      object
ContactName      object
ContactTitle     object
PersonID         object
StoreID          object
TerritoryID      object
AccountNumber    object
RowGUID          object
ModifiedDate     object
dtype: object

In [55]:
# Rename columns in AC_Customer
AC_Customers.rename(columns={
    'id': 'CustomerID',
    'fname': 'FirstName',
    'lname': 'LastName',
    'address': 'Address',
    'city': 'City',  # Correct missing City mapping
    'state': 'Region',
    'zip': 'PostalCode',
    'phone': 'Phone',
    'company_name': 'CompanyName'
}, inplace=True)

# Rename columns in NW_Customer

NW_Customer.rename(columns={
    'CustomerID': 'CustomerID',  # already correctly named
    'CompanyName': 'CompanyName',  # already correctly named
    'ContactName': 'ContactName',
    'ContactTitle': 'ContactTitle',
    'Adrress': 'Address',  # Correct typo 'Adrress' to 'Address'
    'City': 'City',  # already correctly named
    'Region': 'Region',  # already correctly named
    'PostalCode': 'PostalCode',  # already correctly named
    'Country': 'Country',  # already correctly named
    'Phone': 'Phone',
    'Fax': 'Fax'
}, inplace=True)
# Rename columns in AW_Customer
AW_Customer.rename(columns={
    'CustomerID': 'CustomerID',  # already correctly named
    'PersonID': 'PersonID',  # already correctly named
    'StoreID': 'StoreID',  # already correctly named
    'TerritoryID': 'TerritoryID',  # already correctly named
    'AccountNumber': 'AccountNumber',  # already correctly named
    'rowguide': 'RowGUID',  # assuming this is a typo and should be RowGUID
    'ModifiedDate': 'ModifiedDate'  # already correctly named
}, inplace=True)

# Verify the changes
print("AC_Customers after renaming:")
print(AC_Customers.head())
print("NW_Customer after renaming:")
print(NW_Customer.head())
print("AW_Customer after renaming:")
print(AW_Customer.head())

AC_Customers after renaming:
  CustomerID FirstName      LastName                 Address  City Region  \
0        101  Michaels        Devlin     3114 Pioneer Avenue  None   None
1        102      Beth        Reiser      1033 Whippany Road  None   None
2        103      Erin  Niedringhaus     1990 Windsor Street  None   None
3        104    Meghan         Mason  550 Dundas Street East  None   None
4        105     Laura      McCarthy         1210 Highway 36  None   None

  PostalCode Country       Phone         CompanyName ContactName ContactTitle  \
0      07070    None  2015558966     The Power Group        None         None
1      10154    None  2125558725           AMF Corp.        None         None
2      19301    None  2155556513  Darling Associates        None         None
3      37919    None  6155555463              P.S.C.        None         None
4      46032    None  3175558437          Amo & Sons        None         None

  PersonID StoreID TerritoryID AccountNumber RowGUID ModifiedDate
0     None    None        None          None    None         None
1     None    None        None          None    None         None
2     None    None        None          None    None         None
3     None    None        None          None    None         None
4     None    None        None          None    None         None
NW_Customer after renaming:
  CustomerID FirstName LastName                        Address         City  \
0      ALFKI      None     None                  Obere Str. 57       Berlin
1      ANATR      None     None  Avda. de la Constitución 2222  México D.F.
2      ANTON      None     None                Mataderos  2312  México D.F.
3      AROUT      None     None                120 Hanover Sq.       London
4      BERGS      None     None                Berguvsvägen  8        Luleå

  Region PostalCode  Country           Phone  \
0   None      12209  Germany     030-0074321
1   None      05021   Mexico    (5) 555-4729
2   None      05023   Mexico    (5) 555-3932
3   None    WA1 1DP       UK  (171) 555-7788
4   None   S-958 22   Sweden   0921-12 34 65

                          CompanyName           FirstName  \
0                 Alfreds Futterkiste        Maria Anders
1  Ana Trujillo Emparedados y helados        Ana Trujillo
2             Antonio Moreno Taquería      Antonio Moreno
3                     Around the Horn        Thomas Hardy
4                  Berglunds snabbköp  Christina Berglund

           ContactTitle PersonID StoreID TerritoryID AccountNumber RowGUID  \
0  Sales Representative     None    None        None          None    None
1                 Owner     None    None        None          None    None
2                 Owner     None    None        None          None    None
3  Sales Representative     None    None        None          None    None
4   Order Administrator     None    None        None          None    None

  ModifiedDate
0         None
1         None
2         None
3         None
4         None
AW_Customer after renaming:
   CustomerID FirstName LastName Address  City Region PostalCode Country  \
0           1      None     None    None  None   None       None    None
1           2      None     None    None  None   None       None    None
2           3      None     None    None  None   None       None    None
3           4      None     None    None  None   None       None    None
4           5      None     None    None  None   None       None    None

  Phone CompanyName ContactName ContactTitle  PersonID  StoreID  TerritoryID  \
0  None        None        None         None       NaN    934.0            1
1  None        None        None         None       NaN   1028.0            1
2  None        None        None         None       NaN    642.0            4
3  None        None        None         None       NaN    932.0            4
4  None        None        None         None       NaN   1026.0            4

  AccountNumber RowGUID            ModifiedDate
0    AW00000001    None 2014-09-12 11:15:07.263
1    AW00000002    None 2014-09-12 11:15:07.263
2    AW00000003    None 2014-09-12 11:15:07.263
3    AW00000004    None 2014-09-12 11:15:07.263
4    AW00000005    None 2014-09-12 11:15:07.263

In [45]:
# Define the required columns for Customer
required_columns_customer = [
    'CustomerID', 'FirstName', 'LastName', 'Address', 'City', 'Region', 
    'PostalCode', 'Country', 'Phone', 'CompanyName', 'ContactName', 
    'ContactTitle', 'PersonID', 'StoreID', 'TerritoryID', 'AccountNumber', 
    'RowGUID', 'ModifiedDate'
]

# Ensure all required columns exist in each Customer DataFrame
for col in required_columns_customer:
    if col not in AC_Customers.columns:
        AC_Customers[col] = None
    if col not in NW_Customer.columns:
        NW_Customer[col] = None
    if col not in AW_Customer.columns:
        AW_Customer[col] = None

# Select the columns in the correct order
AC_Customers = AC_Customers[required_columns_customer]
NW_Customer = NW_Customer[required_columns_customer]
AW_Customer = AW_Customer[required_columns_customer]

In [46]:
# Combine the DataFrames
Customer = pd.concat([AC_Customers, NW_Customer, AW_Customer], ignore_index=True)

# Print the data types of the combined DataFrame
print(Customer.dtypes)

# Print the first few rows to verify the concatenation
print(Customer.head())
print(Customer.info())

CustomerID               object
FirstName                object
LastName                 object
Address                  object
City                     object
Region                   object
PostalCode               object
Country                  object
Phone                    object
CompanyName              object
ContactName              object
ContactTitle             object
PersonID                float64
StoreID                 float64
TerritoryID              object
AccountNumber            object
RowGUID                  object
ModifiedDate     datetime64[ns]
dtype: object
  CustomerID FirstName      LastName                 Address  City Region  \
0        101  Michaels        Devlin     3114 Pioneer Avenue  None   None
1        102      Beth        Reiser      1033 Whippany Road  None   None
2        103      Erin  Niedringhaus     1990 Windsor Street  None   None
3        104    Meghan         Mason  550 Dundas Street East  None   None
4        105     Laura      McCarthy         1210 Highway 36  None   None

  PostalCode Country       Phone         CompanyName ContactName ContactTitle  \
0      07070    None  2015558966     The Power Group        None         None
1      10154    None  2125558725           AMF Corp.        None         None
2      19301    None  2155556513  Darling Associates        None         None
3      37919    None  6155555463              P.S.C.        None         None
4      46032    None  3175558437          Amo & Sons        None         None

   PersonID  StoreID TerritoryID AccountNumber RowGUID ModifiedDate
0       NaN      NaN        None          None    None          NaT
1       NaN      NaN        None          None    None          NaT
2       NaN      NaN        None          None    None          NaT
3       NaN      NaN        None          None    None          NaT
4       NaN      NaN        None          None    None          NaT
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20036 entries, 0 to 20035
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CustomerID     20036 non-null  object
 1   FirstName      125 non-null    object
 2   LastName       125 non-null    object
 3   Address        216 non-null    object
 4   City           91 non-null     object
 5   Region         31 non-null     object
 6   PostalCode     215 non-null    object
 7   Country        91 non-null     object
 8   Phone          216 non-null    object
 9   CompanyName    216 non-null    object
 10  ContactName    91 non-null     object
 11  ContactTitle   91 non-null     object
 12  PersonID       19119 non-null  float64
 13  StoreID        1336 non-null   float64
 14  TerritoryID    19820 non-null  object
 15  AccountNumber  19820 non-null  object
 16  RowGUID        0 non-null      object
 17  ModifiedDate   19820 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(2), object(15)
memory usage: 2.8+ MB
None

C:\Users\grego\AppData\Local\Temp\ipykernel_13780\2537368513.py:2: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  Customer = pd.concat([AC_Customers, NW_Customer, AW_Customer], ignore_index=True)

In [52]:
# Ensure correct data types and formats
Customer['ModifiedDate'] = pd.to_datetime(Customer['ModifiedDate'], errors='coerce')

# Insert data into the table
for index, row in Customer.iterrows():
    try:
        query = """
        INSERT INTO Customer (CustomerID, FirstName, LastName, Address, City, Region, PostalCode, Country, Phone, CompanyName, ContactName, ContactTitle, PersonID, StoreID, TerritoryID, AccountNumber, RowGUID, ModifiedDate)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
        """
        # Ensure values are in the correct format
        params = (
            row['CustomerID'],
            row['FirstName'] if pd.notnull(row['FirstName']) else None,
            row['LastName'] if pd.notnull(row['LastName']) else None,
            row['Address'] if pd.notnull(row['Address']) else None,
            row['City'] if pd.notnull(row['City']) else None,
            row['Region'] if pd.notnull(row['Region']) else None,
            row['PostalCode'] if pd.notnull(row['PostalCode']) else None,
            row['Country'] if pd.notnull(row['Country']) else None,
            row['Phone'] if pd.notnull(row['Phone']) else None,
            row['CompanyName'] if pd.notnull(row['CompanyName']) else None,
            row['ContactName'] if pd.notnull(row['ContactName']) else None,
            row['ContactTitle'] if pd.notnull(row['ContactTitle']) else None,
            row['PersonID'] if pd.notnull(row['PersonID']) else None,
            row['StoreID'] if pd.notnull(row['StoreID']) else None,
            row['TerritoryID'] if pd.notnull(row['TerritoryID']) else None,
            row['AccountNumber'] if pd.notnull(row['AccountNumber']) else None,
            row['RowGUID'] if pd.notnull(row['RowGUID']) else None,
            row['ModifiedDate'].strftime('%Y-%m-%d %H:%M:%S') if pd.notnull(row['ModifiedDate']) else None
        )
        export_cursor.execute(query, params)
    except pyodbc.Error as e:
        print(f"An error occurred: {e}")
        print(query)
        print("Parameters:", params)
        print("Row causing issue:", row)

export_conn.commit()

An error occurred: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Customer__A4AE64B8ED4DA61C'. Cannot insert duplicate key in object 'dbo.Customer'. The duplicate key value is (101). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")

        INSERT INTO Customer (CustomerID, FirstName, LastName, Address, City, Region, PostalCode, Country, Phone, CompanyName, ContactName, ContactTitle, PersonID, StoreID, TerritoryID, AccountNumber, RowGUID, ModifiedDate)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

Parameters: (101, None, None, None, None, None, None, None, None, None, None, None, None, 732.0, 6, 'AW00000101', None, '2014-09-12 11:15:07')
Row causing issue: CustomerID                              101
FirstName                              None
LastName                               None
Address                                None
City                                   None
Region                                 None
PostalCode                             None
Country                                None
Phone                                  None
CompanyName                            None
ContactName                            None
ContactTitle                           None
PersonID                                NaN
StoreID                               732.0
TerritoryID                               6
AccountNumber                    AW00000101
RowGUID                                None
ModifiedDate     2014-09-12 11:15:07.263000
Name: 316, dtype: object
An error occurred: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Customer__A4AE64B8ED4DA61C'. Cannot insert duplicate key in object 'dbo.Customer'. The duplicate key value is (102). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")

        INSERT INTO Customer (CustomerID, FirstName, LastName, Address, City, Region, PostalCode, Country, Phone, CompanyName, ContactName, ContactTitle, PersonID, StoreID, TerritoryID, AccountNumber, RowGUID, ModifiedDate)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

Parameters: (102, None, None, None, None, None, None, None, None, None, None, None, None, 1312.0, 6, 'AW00000102', None, '2014-09-12 11:15:07')
Row causing issue: CustomerID                              102
FirstName                              None
LastName                               None
Address                                None
City                                   None
Region                                 None
PostalCode                             None
Country                                None
Phone                                  None
CompanyName                            None
ContactName                            None
ContactTitle                           None
PersonID                                NaN
StoreID                              1312.0
TerritoryID                               6
AccountNumber                    AW00000102
RowGUID                                None
ModifiedDate     2014-09-12 11:15:07.263000
Name: 317, dtype: object
An error occurred: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Customer__A4AE64B8ED4DA61C'. Cannot insert duplicate key in object 'dbo.Customer'. The duplicate key value is (103). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")

        INSERT INTO Customer (CustomerID, FirstName, LastName, Address, City, Region, PostalCode, Country, Phone, CompanyName, ContactName, ContactTitle, PersonID, StoreID, TerritoryID, AccountNumber, RowGUID, ModifiedDate)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

Parameters: (103, None, None, None, None, None, None, None, None, None, None, None, None, 1894.0, 7, 'AW00000103', None, '2014-09-12 11:15:07')
Row causing issue: CustomerID                              103
FirstName                              None
LastName                               None
Address                                None
City                                   None
Region                                 None
PostalCode                             None
Country                                None
Phone                                  None
CompanyName                            None
ContactName                            None
ContactTitle                           None
PersonID                                NaN
StoreID                              1894.0
TerritoryID                               7
AccountNumber                    AW00000103
RowGUID                                None
ModifiedDate     2014-09-12 11:15:07.263000
Name: 318, dtype: object
An error occurred: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Customer__A4AE64B8ED4DA61C'. Cannot insert duplicate key in object 'dbo.Customer'. The duplicate key value is (104). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")

        INSERT INTO Customer (CustomerID, FirstName, LastName, Address, City, Region, PostalCode, Country, Phone, CompanyName, ContactName, ContactTitle, PersonID, StoreID, TerritoryID, AccountNumber, RowGUID, ModifiedDate)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

Parameters: (104, None, None, None, None, None, None, None, None, None, None, None, None, 730.0, 8, 'AW00000104', None, '2014-09-12 11:15:07')
Row causing issue: CustomerID                              104
FirstName                              None
LastName                               None
Address                                None
City                                   None
Region                                 None
PostalCode                             None
Country                                None
Phone                                  None
CompanyName                            None
ContactName                            None
ContactTitle                           None
PersonID                                NaN
StoreID                               730.0
TerritoryID                               8
AccountNumber                    AW00000104
RowGUID                                None
ModifiedDate     2014-09-12 11:15:07.263000
Name: 319, dtype: object
An error occurred: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Customer__A4AE64B8ED4DA61C'. Cannot insert duplicate key in object 'dbo.Customer'. The duplicate key value is (105). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")

        INSERT INTO Customer (CustomerID, FirstName, LastName, Address, City, Region, PostalCode, Country, Phone, CompanyName, ContactName, ContactTitle, PersonID, StoreID, TerritoryID, AccountNumber, RowGUID, ModifiedDate)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

Parameters: (105, None, None, None, None, None, None, None, None, None, None, None, None, 1314.0, 9, 'AW00000105', None, '2014-09-12 11:15:07')
Row causing issue: CustomerID                              105
FirstName                              None
LastName                               None
Address                                None
City                                   None
Region                                 None
PostalCode                             None
Country                                None
Phone                                  None
CompanyName                            None
ContactName                            None
ContactTitle                           None
PersonID                                NaN
StoreID                              1314.0
TerritoryID                               9
AccountNumber                    AW00000105
RowGUID                                None
ModifiedDate     2014-09-12 11:15:07.263000
Name: 320, dtype: object
An error occurred: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Customer__A4AE64B8ED4DA61C'. Cannot insert duplicate key in object 'dbo.Customer'. The duplicate key value is (106). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")

        INSERT INTO Customer (CustomerID, FirstName, LastName, Address, City, Region, PostalCode, Country, Phone, CompanyName, ContactName, ContactTitle, PersonID, StoreID, TerritoryID, AccountNumber, RowGUID, ModifiedDate)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

Parameters: (106, None, None, None, None, None, None, None, None, None, None, None, None, 1892.0, 10, 'AW00000106', None, '2014-09-12 11:15:07')
Row causing issue: CustomerID                              106
FirstName                              None
LastName                               None
Address                                None
City                                   None
Region                                 None
PostalCode                             None
Country                                None
Phone                                  None
CompanyName                            None
ContactName                            None
ContactTitle                           None
PersonID                                NaN
StoreID                              1892.0
TerritoryID                              10
AccountNumber                    AW00000106
RowGUID                                None
ModifiedDate     2014-09-12 11:15:07.263000
Name: 321, dtype: object
An error occurred: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Customer__A4AE64B8ED4DA61C'. Cannot insert duplicate key in object 'dbo.Customer'. The duplicate key value is (107). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")

        INSERT INTO Customer (CustomerID, FirstName, LastName, Address, City, Region, PostalCode, Country, Phone, CompanyName, ContactName, ContactTitle, PersonID, StoreID, TerritoryID, AccountNumber, RowGUID, ModifiedDate)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

Parameters: (107, None, None, None, None, None, None, None, None, None, None, None, None, 728.0, 2, 'AW00000107', None, '2014-09-12 11:15:07')
Row causing issue: CustomerID                              107
FirstName                              None
LastName                               None
Address                                None
City                                   None
Region                                 None
PostalCode                             None
Country                                None
Phone                                  None
CompanyName                            None
ContactName                            None
ContactTitle                           None
PersonID                                NaN
StoreID                               728.0
TerritoryID                               2
AccountNumber                    AW00000107
RowGUID                                None
ModifiedDate     2014-09-12 11:15:07.263000
Name: 322, dtype: object
An error occurred: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Customer__A4AE64B8ED4DA61C'. Cannot insert duplicate key in object 'dbo.Customer'. The duplicate key value is (108). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")

        INSERT INTO Customer (CustomerID, FirstName, LastName, Address, City, Region, PostalCode, Country, Phone, CompanyName, ContactName, ContactTitle, PersonID, StoreID, TerritoryID, AccountNumber, RowGUID, ModifiedDate)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

Parameters: (108, None, None, None, None, None, None, None, None, None, None, None, None, 1316.0, 2, 'AW00000108', None, '2014-09-12 11:15:07')
Row causing issue: CustomerID                              108
FirstName                              None
LastName                               None
Address                                None
City                                   None
Region                                 None
PostalCode                             None
Country                                None
Phone                                  None
CompanyName                            None
ContactName                            None
ContactTitle                           None
PersonID                                NaN
StoreID                              1316.0
TerritoryID                               2
AccountNumber                    AW00000108
RowGUID                                None
ModifiedDate     2014-09-12 11:15:07.263000
Name: 323, dtype: object
An error occurred: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Customer__A4AE64B8ED4DA61C'. Cannot insert duplicate key in object 'dbo.Customer'. The duplicate key value is (110). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")

        INSERT INTO Customer (CustomerID, FirstName, LastName, Address, City, Region, PostalCode, Country, Phone, CompanyName, ContactName, ContactTitle, PersonID, StoreID, TerritoryID, AccountNumber, RowGUID, ModifiedDate)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

Parameters: (110, None, None, None, None, None, None, None, None, None, None, None, None, 1888.0, 1, 'AW00000110', None, '2014-09-12 11:15:07')
Row causing issue: CustomerID                              110
FirstName                              None
LastName                               None
Address                                None
City                                   None
Region                                 None
PostalCode                             None
Country                                None
Phone                                  None
CompanyName                            None
ContactName                            None
ContactTitle                           None
PersonID                                NaN
StoreID                              1888.0
TerritoryID                               1
AccountNumber                    AW00000110
RowGUID                                None
ModifiedDate     2014-09-12 11:15:07.263000
Name: 325, dtype: object
An error occurred: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Customer__A4AE64B8ED4DA61C'. Cannot insert duplicate key in object 'dbo.Customer'. The duplicate key value is (111). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")

        INSERT INTO Customer (CustomerID, FirstName, LastName, Address, City, Region, PostalCode, Country, Phone, CompanyName, ContactName, ContactTitle, PersonID, StoreID, TerritoryID, AccountNumber, RowGUID, ModifiedDate)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

Parameters: (111, None, None, None, None, None, None, None, None, None, None, None, None, 726.0, 3, 'AW00000111', None, '2014-09-12 11:15:07')
Row causing issue: CustomerID                              111
FirstName                              None
LastName                               None
Address                                None
City                                   None
Region                                 None
PostalCode                             None
Country                                None
Phone                                  None
CompanyName                            None
ContactName                            None
ContactTitle                           None
PersonID                                NaN
StoreID                               726.0
TerritoryID                               3
AccountNumber                    AW00000111
RowGUID                                None
ModifiedDate     2014-09-12 11:15:07.263000
Name: 326, dtype: object
An error occurred: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Customer__A4AE64B8ED4DA61C'. Cannot insert duplicate key in object 'dbo.Customer'. The duplicate key value is (112). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")

        INSERT INTO Customer (CustomerID, FirstName, LastName, Address, City, Region, PostalCode, Country, Phone, CompanyName, ContactName, ContactTitle, PersonID, StoreID, TerritoryID, AccountNumber, RowGUID, ModifiedDate)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

Parameters: (112, None, None, None, None, None, None, None, None, None, None, None, None, 1318.0, 4, 'AW00000112', None, '2014-09-12 11:15:07')
Row causing issue: CustomerID                              112
FirstName                              None
LastName                               None
Address                                None
City                                   None
Region                                 None
PostalCode                             None
Country                                None
Phone                                  None
CompanyName                            None
ContactName                            None
ContactTitle                           None
PersonID                                NaN
StoreID                              1318.0
TerritoryID                               4
AccountNumber                    AW00000112
RowGUID                                None
ModifiedDate     2014-09-12 11:15:07.263000
Name: 327, dtype: object
An error occurred: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Customer__A4AE64B8ED4DA61C'. Cannot insert duplicate key in object 'dbo.Customer'. The duplicate key value is (113). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")

        INSERT INTO Customer (CustomerID, FirstName, LastName, Address, City, Region, PostalCode, Country, Phone, CompanyName, ContactName, ContactTitle, PersonID, StoreID, TerritoryID, AccountNumber, RowGUID, ModifiedDate)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

Parameters: (113, None, None, None, None, None, None, None, None, None, None, None, None, 1886.0, 4, 'AW00000113', None, '2014-09-12 11:15:07')
Row causing issue: CustomerID                              113
FirstName                              None
LastName                               None
Address                                None
City                                   None
Region                                 None
PostalCode                             None
Country                                None
Phone                                  None
CompanyName                            None
ContactName                            None
ContactTitle                           None
PersonID                                NaN
StoreID                              1886.0
TerritoryID                               4
AccountNumber                    AW00000113
RowGUID                                None
ModifiedDate     2014-09-12 11:15:07.263000
Name: 328, dtype: object