In [1]:
import pandas as pd
import pyodbc

In [2]:
DB = {'servername': 'LAPTOP-105ECA33\SQLEXPRESS', 
    'database': 'UnitedOutdoors'}

export_conn = pyodbc.connect('DRIVER={SQL Server};SERVER=' + DB['servername'] + 
                              ';DATABASE=' + DB['database'])

export_cursor = export_conn.cursor()
export_cursor

<>:1: SyntaxWarning: invalid escape sequence '\S'
<>:1: SyntaxWarning: invalid escape sequence '\S'
C:\Users\antho\AppData\Local\Temp\ipykernel_4808\944234878.py:1: SyntaxWarning: invalid escape sequence '\S'
  DB = {'servername': 'LAPTOP-105ECA33\SQLEXPRESS',

In [3]:

Adventure = {
    'servername' : 'LAPTOP-105ECA33\SQLEXPRESS',
    'database' : 'AdventureWorks2019'
}


Northwind = {
    'servername' : 'LAPTOP-105ECA33\SQLEXPRESS',
    'database' : 'Northwind'
}

access_db_path = r'C:\HBO ICT\DEDS jaar 2\aenc.accdb'

#Connect to AdventureWorks
Adventure_conn = pyodbc.connect(f"DRIVER={{SQL Server}};SERVER={Adventure['servername']};DATABASE={Adventure['database']};Trusted_Connection=yes;")
Adventure_cursor = Adventure_conn.cursor()

#Connect to Northwind
Northwind_conn = pyodbc.connect(f"DRIVER={{SQL Server}};SERVER={Northwind['servername']};DATABASE={Northwind['database']};Trusted_Connection=yes;")
Northwind_cursor = Northwind_conn.cursor()

#Connect to AenC
AenC_conn = pyodbc.connect(f"DRIVER={{Microsoft Access Driver (*.mdb, *.accdb)}};DBQ={access_db_path};")

<>:2: SyntaxWarning: invalid escape sequence '\S'
<>:8: SyntaxWarning: invalid escape sequence '\S'
<>:2: SyntaxWarning: invalid escape sequence '\S'
<>:8: SyntaxWarning: invalid escape sequence '\S'
C:\Users\antho\AppData\Local\Temp\ipykernel_4808\1537168005.py:2: SyntaxWarning: invalid escape sequence '\S'
  'servername' : 'LAPTOP-105ECA33\SQLEXPRESS',
C:\Users\antho\AppData\Local\Temp\ipykernel_4808\1537168005.py:8: SyntaxWarning: invalid escape sequence '\S'
  'servername' : 'LAPTOP-105ECA33\SQLEXPRESS',

In [4]:
AdventureWorks_queries = {
    'AW_Employee' : 'SELECT * FROM HumanResources.Employee',
    
}

Northwind_queries = {
    'NW_Employee' : 'SELECT * FROM Employees',
    
}

AenC_queries = {
    'AC_Employee' : 'SELECT * FROM Employee',
    
}

dataframes = {}

# Lees elke tabel in een DataFrame

for table_name, query in AdventureWorks_queries.items():
    dataframes[table_name] = pd.read_sql_query(query, Adventure_conn)

for table_name, query in Northwind_queries.items():
    dataframes[table_name] = pd.read_sql_query(query, Northwind_conn)

for table_name, query in AenC_queries.items():
    dataframes[table_name] = pd.read_sql_query(query, AenC_conn)

#als je ik elk tabel als een dataframe/ variabele wil behandelen of aanroepen moet ik dit uitvoeren.
for table_name, df in dataframes.items():
    globals()[table_name] = df

    print(Employee)

C:\Users\antho\AppData\Local\Temp\ipykernel_4808\3154358536.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dataframes[table_name] = pd.read_sql_query(query, Adventure_conn)
C:\Users\antho\AppData\Local\Temp\ipykernel_4808\3154358536.py:24: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dataframes[table_name] = pd.read_sql_query(query, Northwind_conn)
C:\Users\antho\AppData\Local\Temp\ipykernel_4808\3154358536.py:27: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dataframes[table_name] = pd.read_sql_query(query, AenC_conn)

In [ ]:
AW_Employee.rename(columns={
    'BusinessEntityID': 'EmployeeID',
    'JobTitle' : 'Job_title',
    'BirthDate' : 'Birth_date',
    'HireDate': 'Hire_date'

}, inplace=True)

# change shipvia to string 
#Northwind_Order['ShipVia'] = Northwind_Order['ShipVia'].astype(str)
NW_Employee.rename(columns={
    'Title': 'Job_title',
    'BirthDate' : 'Birth_date',
    'HireDate': 'Hire_date'
    
}, inplace=True)

AC_Employee.rename(columns={
    'emp_id': 'EmployeeID',
    'emp_fname': 'FirstName',
    'emp_lname': 'LastName',
    'state': 'Region',
    'city': 'City',
    'zip_code': 'PostalCode',
    'street': 'Address',
    'dept_id' : 'DepartmentID',
    'start_date': 'Hire_date'
    
}, inplace=True)

No conflicts found in Order IDs.
Empty DataFrame
Columns: [Conflicting Order IDs]
Index: []

In [ ]:
# Adding a prefix to EmployeeIDs for each source DataFrame
AW_Employee['EmployeeID'] = AW_Employee['EmployeeID'].apply(lambda x: f'AW_{x}')
NW_Employee['EmployeeID'] = NW_Employee['EmployeeID'].apply(lambda x: f'NW_{x}')
AC_Employee['EmployeeID'] = AC_Employee['EmployeeID'].apply(lambda x: f'AC_{x}')

# maar dan ook prefix zetten in bijbehorende dimensies en tabellen.

In [ ]:


# Zorg ervoor dat alle vereiste kolommen bestaan en selecteer ze
required_columns = ['EmployeeID', 'FirstName', 'LastName', 'Region', 'City', 'PostalCode', 'Address', 'DepartmentID', 'Job_title', 'Birth_date', 'Hire_date']

for col in required_columns:
    if col not in AW_Employee.columns:
        AW_Employee[col] = None
    if col not in NW_Employee.columns:
        NW_Employee[col] = None
    if col not in AC_Employee.columns:
        AC_Employee[col] = None

# Selecteer de kolommen in de juiste volgorde
AW_Employee = AW_Employee[required_columns]
NW_Employee = NW_Employee[required_columns]
AC_Employee = AC_Employee[required_columns]

# Combineer de dataframes
Employee1 = pd.concat([AW_Employee, NW_Employee, AC_Employee], ignore_index=True)

# Toon het resultaat
#print(combined_df)
print(Employee1)

    EmployeeID  FirstName    LastName Region        City PostalCode  \
0         AW_1       None        None   None        None       None
1         AW_2       None        None   None        None       None
2         AW_3       None        None   None        None       None
3         AW_4       None        None   None        None       None
4         AW_5       None        None   None        None       None
..         ...        ...         ...    ...         ...        ...
369    AC_1643  Elizabeth     Lambert     MA  Burlington      01803
370    AC_1658    Michael       Lynch     MA     Waltham      02154
371    AC_1684      Janet  Hildebrand     MA     Waltham      02154
372    AC_1740     Robert     Nielsen     MA     Bedford      01730
373    AC_1751       Alex       Ahmed     MA     Needham      02192

                Address DepartmentID                      Job_title  \
0                  None         None        Chief Executive Officer
1                  None         None  Vice President of Engineering
2                  None         None            Engineering Manager
3                  None         None           Senior Tool Designer
4                  None         None                Design Engineer
..                  ...          ...                            ...
369     29 Union Street          400                           None
370   76 Brookside Road          500                           None
371   47 Hilltop Street          400                           None
372   55 Sargent Avenue          400                           None
373  114 Cushing Street          400                           None

     Birth_date                Hire_date
0    1969-01-29               2009-01-14
1    1971-08-01               2008-01-31
2    1974-11-12               2007-11-11
3    1974-12-23               2007-12-05
4    1952-09-27               2008-01-06
..          ...                      ...
369        None  15-Jun-1997 12:00:00 AM
370        None  28-Aug-1997 12:00:00 AM
371        None  13-Sep-1997 12:00:00 AM
372        None  23-Dec-1997 12:00:00 AM
373        None  10-Jan-1998 12:00:00 AM

[374 rows x 11 columns]

In [ ]:


# Zorg ervoor dat alle vereiste kolommen bestaan en selecteer ze
required_columns = ['EmployeeID', 'FirstName', 'LastName', 'Region', 'City', 'PostalCode', 'Address', 'DepartmentID', 'Job_title', 'Birth_date', 'Hire_date']

for col in required_columns:
    if col not in AW_Employee.columns:
        AW_Employee[col] = None
    if col not in NW_Employee.columns:
        NW_Employee[col] = None
    if col not in AC_Employee.columns:
        AC_Employee[col] = None

# Selecteer de kolommen in de juiste volgorde
AW_Employee = AW_Employee[required_columns]
NW_Employee = NW_Employee[required_columns]
AC_Employee = AC_Employee[required_columns]

# Combineer de dataframes
Employee1 = pd.concat([AW_Employee, NW_Employee, AC_Employee], ignore_index=True)

# Toon het resultaat
#print(combined_df)
print(Employee1)

    EmployeeID  FirstName    LastName Region        City PostalCode  \
0         AW_1       None        None   None        None       None
1         AW_2       None        None   None        None       None
2         AW_3       None        None   None        None       None
3         AW_4       None        None   None        None       None
4         AW_5       None        None   None        None       None
..         ...        ...         ...    ...         ...        ...
369    AC_1643  Elizabeth     Lambert     MA  Burlington      01803
370    AC_1658    Michael       Lynch     MA     Waltham      02154
371    AC_1684      Janet  Hildebrand     MA     Waltham      02154
372    AC_1740     Robert     Nielsen     MA     Bedford      01730
373    AC_1751       Alex       Ahmed     MA     Needham      02192

                Address DepartmentID                      Job_title  \
0                  None         None        Chief Executive Officer
1                  None         None  Vice President of Engineering
2                  None         None            Engineering Manager
3                  None         None           Senior Tool Designer
4                  None         None                Design Engineer
..                  ...          ...                            ...
369     29 Union Street          400                           None
370   76 Brookside Road          500                           None
371   47 Hilltop Street          400                           None
372   55 Sargent Avenue          400                           None
373  114 Cushing Street          400                           None

     Birth_date                Hire_date
0    1969-01-29               2009-01-14
1    1971-08-01               2008-01-31
2    1974-11-12               2007-11-11
3    1974-12-23               2007-12-05
4    1952-09-27               2008-01-06
..          ...                      ...
369        None  15-Jun-1997 12:00:00 AM
370        None  28-Aug-1997 12:00:00 AM
371        None  13-Sep-1997 12:00:00 AM
372        None  23-Dec-1997 12:00:00 AM
373        None  10-Jan-1998 12:00:00 AM

[374 rows x 11 columns]

In [ ]:
import pandas as pd
import pyodbc

# Check column names
print(Employee.columns)

# Ensure correct data types and formats
if 'birth_date' in Employee.columns and 'start_date' in Employee.columns:
    Employee['birth_date'] = pd.to_datetime(Employee['birth_date'], errors='coerce')
    Employee['start_date'] = pd.to_datetime(Employee['start_date'], errors='coerce')
else:
    print("Columns 'birth_date' and/or 'start_date' are missing in the DataFrame")

# Insert data into the table
for index, row in Employee.iterrows():
    try:
        query = """
        INSERT INTO [Employee] (EmployeeID, FirstName, LastName, Region, City, PostalCode, Address, Job_title, Birth_date, Hire_date)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
        """
        # Ensure values are in the correct format
        birth_date = row.get('birth_date')
        hire_date = row.get('start_date')

        # Format the dates with seconds
        birth_date_str = birth_date.strftime('%Y-%m-%d %H:%M:%S') if pd.notnull(birth_date) else None
        hire_date_str = hire_date.strftime('%Y-%m-%d %H:%M:%S') if pd.notnull(hire_date) else None

        params = (
            row['emp_id'],
            row['emp_fname'],
            row['emp_lname'],
            row['state'],
            row['city'],
            row['zip_code'],
            row['street'],
            row['status'],  # Assuming 'status' maps to 'Job_title'
            birth_date_str,
            hire_date_str
        )
        export_cursor.execute(query, params)
    except pyodbc.Error as e:
        print(f"An error occurred: {e}")
        print(query)
        print("Parameters:", params)

export_conn.commit()

Index(['emp_id', 'manager_id', 'emp_fname', 'emp_lname', 'dept_id', 'street',
       'city', 'state', 'zip_code', 'phone', 'status', 'ss_number', 'salary',
       'start_date', 'termination_date', 'birth_date', 'bene_health_ins',
       'bene_life_ins', 'bene_day_care', 'sex'],
      dtype='object')