In [1]:
import pandas as pd
import pyodbc
from datetime import datetime
from dateutil import parser

In [2]:
DB = {'servername': 'LAPTOP-LPE28RPE\SQLEXPRESS', 
    'database': 'United_outdoors'}

export_conn = pyodbc.connect('DRIVER={SQL Server};SERVER=' + DB['servername'] + 
                              ';DATABASE=' + DB['database'])

export_cursor = export_conn.cursor()
export_cursor

In [3]:

Adventure = {
    'servername' : 'LAPTOP-LPE28RPE\SQLEXPRESS',
    'database' : 'AdventureWorks2019'
}


Northwind = {
    'servername' : 'LAPTOP-LPE28RPE\SQLEXPRESS',
    'database' : 'Northwind'
}

access_db_path =  r'C:\Users\Humberto de Castro\OneDrive\Desktop\SEM4\AenC\aenc.accdb'

#Connect to AdventureWorks
Adventure_conn = pyodbc.connect(f"DRIVER={{SQL Server}};SERVER={Adventure['servername']};DATABASE={Adventure['database']};Trusted_Connection=yes;")
Adventure_cursor = Adventure_conn.cursor()

#Connect to Northwind
Northwind_conn = pyodbc.connect(f"DRIVER={{SQL Server}};SERVER={Northwind['servername']};DATABASE={Northwind['database']};Trusted_Connection=yes;")
Northwind_cursor = Northwind_conn.cursor()

#Connect to AenC
AenC_conn = pyodbc.connect(f"DRIVER={{Microsoft Access Driver (*.mdb, *.accdb)}};DBQ={access_db_path};")

In [4]:
AdventureWorks_queries = {
    'AW_Employee' : 'SELECT * FROM HumanResources.Employee',
    'Person' : 'SELECT * FROM Person.Person',
    'BusinessEntity' : 'SELECT * FROM Person.BusinessEntity',
    'BusinessEntityAddress' : 'SELECT * FROM Person.BusinessEntityAddress',
    'PersonAddress' : 'SELECT * FROM Person.Address',
    'StateProvince' : 'SELECT * FROM Person.StateProvince',
    'CountryRegion' : 'SELECT * FROM Person.CountryRegion',
    'Territory' : 'SELECT * FROM Sales.SalesTerritory',
    'Department' : 'SELECT * FROM HumanResources.EmployeeDepartmentHistory'
    
}

Northwind_queries = {
    'NW_Employee' : 'SELECT * FROM Employees',
    'EmployeeTerritories' : 'SELECT * FROM EmployeeTerritories',
    'NW_Territories' : 'SELECT * FROM Territories',
    'NW_Region' : 'SELECT * FROM Region',

    
}

AenC_queries = {
    'AC_Employee' : 'SELECT * FROM Employee',
    'state' : 'SELECT * FROM state'
    
}

dataframes = {}

# Lees elke tabel in een DataFrame

for table_name, query in AdventureWorks_queries.items():
    dataframes[table_name] = pd.read_sql_query(query, Adventure_conn)

for table_name, query in Northwind_queries.items():
    dataframes[table_name] = pd.read_sql_query(query, Northwind_conn)

for table_name, query in AenC_queries.items():
    dataframes[table_name] = pd.read_sql_query(query, AenC_conn)

#als je ik elk tabel als een dataframe/ variabele wil behandelen of aanroepen moet ik dit uitvoeren.
for table_name, df in dataframes.items():
    globals()[table_name] = df

C:\Users\Humberto de Castro\AppData\Local\Temp\ipykernel_95804\3836312607.py:34: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dataframes[table_name] = pd.read_sql_query(query, Adventure_conn)
C:\Users\Humberto de Castro\AppData\Local\Temp\ipykernel_95804\3836312607.py:37: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dataframes[table_name] = pd.read_sql_query(query, Northwind_conn)
C:\Users\Humberto de Castro\AppData\Local\Temp\ipykernel_95804\3836312607.py:40: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dataframes[table_name] = pd.read_sql_query(query, AenC_conn)

### Employee

Adventureworks

In [5]:

# Assuming AW_Employee, Person, BusinessEntityAddress, PersonAddress, StateProvince, CountryRegion, and Territory are already defined DataFrames

# Drop columns 'rowguid' and 'ModifiedDate' from each DataFrame
columns_to_drop = ['rowguid', 'ModifiedDate']

AW_Employee = AW_Employee.drop(columns=[col for col in columns_to_drop if col in AW_Employee.columns])
Person = Person.drop(columns=[col for col in columns_to_drop if col in Person.columns])
BusinessEntityAddress = BusinessEntityAddress.drop(columns=[col for col in columns_to_drop if col in BusinessEntityAddress.columns])
PersonAddress = PersonAddress.drop(columns=[col for col in columns_to_drop if col in PersonAddress.columns])
StateProvince = StateProvince.drop(columns=[col for col in columns_to_drop if col in StateProvince.columns])
CountryRegion = CountryRegion.drop(columns=[col for col in columns_to_drop if col in CountryRegion.columns])
Territory = Territory.drop(columns=[col for col in columns_to_drop if col in Territory.columns])


# Merge AW_Employee with Person, add suffixes to avoid duplicate columns
AW_Employee = pd.merge(AW_Employee, Person, on='BusinessEntityID')

# Merge the result with BusinessEntityAddress, add suffixes to avoid duplicate columns
AW_Employee = pd.merge(AW_Employee, BusinessEntityAddress, on='BusinessEntityID', suffixes=('', '_business'))

# Merge the result with PersonAddress, add suffixes to avoid duplicate columns
AW_Employee = pd.merge(AW_Employee, PersonAddress, left_on='AddressID', right_on='AddressID', suffixes=('', '_personaddress'))

# Merge the result with StateProvince, add suffixes to avoid duplicate columns
AW_Employee = pd.merge(AW_Employee, StateProvince, left_on='StateProvinceID', right_on='StateProvinceID', suffixes=('', '_stateprovince'))

# Merge the result with CountryRegion, add suffixes to avoid duplicate columns
AW_Employee = pd.merge(AW_Employee, CountryRegion, left_on='CountryRegionCode', right_on='CountryRegionCode', suffixes=('', '_countryregion'))

# Merge the result with Territory, add suffixes to avoid duplicate columns
AW_Employee = pd.merge(AW_Employee, Territory, left_on='TerritoryID', right_on='TerritoryID', suffixes = ('', '_Territory'))

#We hebben departmentID nodig:
AW_Employee = pd.merge(AW_Employee, Department, on = 'BusinessEntityID')


print(AW_Employee.columns)

Index(['BusinessEntityID', 'NationalIDNumber', 'LoginID', 'OrganizationNode',
       'OrganizationLevel', 'JobTitle', 'BirthDate', 'MaritalStatus', 'Gender',
       'HireDate', 'SalariedFlag', 'VacationHours', 'SickLeaveHours',
       'CurrentFlag', 'PersonType', 'NameStyle', 'Title', 'FirstName',
       'MiddleName', 'LastName', 'Suffix', 'EmailPromotion',
       'AdditionalContactInfo', 'Demographics', 'AddressID', 'AddressTypeID',
       'AddressLine1', 'AddressLine2', 'City', 'StateProvinceID', 'PostalCode',
       'SpatialLocation', 'StateProvinceCode', 'CountryRegionCode',
       'IsOnlyStateProvinceFlag', 'Name', 'TerritoryID', 'Name_countryregion',
       'Name_Territory', 'CountryRegionCode_Territory', 'Group', 'SalesYTD',
       'SalesLastYear', 'CostYTD', 'CostLastYear', 'DepartmentID', 'ShiftID',
       'StartDate', 'EndDate', 'ModifiedDate'],
      dtype='object')

Years in service

In [6]:
# Ensure HireDate is in datetime format
AW_Employee['HireDate'] = pd.to_datetime(AW_Employee['HireDate'], errors='coerce')

# Calculate the number of years in service
current_date = datetime.now()
AW_Employee['Years_in_Service'] = AW_Employee['HireDate'].apply(lambda x: current_date.year - x.year - ((current_date.month, current_date.day) < (x.month, x.day)) if pd.notnull(x) else None)

Northwind

In [7]:
# Define a dictionary for replacements
replacement_dict = {
    'Mr.': 'M',
    'Dr.': 'M',
    'Ms.': 'F',
    'Mrs.': 'F',
    'Miss': 'F'
}

# Replace 'USA' with 'US' in the Country column
NW_Employee['Country'] = NW_Employee['Country'].replace('USA', 'US')

# Replace TitleOfCourtesy based on the dictionary
NW_Employee['TitleOfCourtesy'] = NW_Employee['TitleOfCourtesy'].replace(replacement_dict)

In [8]:
# Ensure 'EmployeeID', 'TerritoryID', and 'RegionID' are the same type (string) in all DataFrames
NW_Employee['EmployeeID'] = NW_Employee['EmployeeID'].astype(str)
EmployeeTerritories['EmployeeID'] = EmployeeTerritories['EmployeeID'].astype(str)
NW_Territories['TerritoryID'] = NW_Territories['TerritoryID'].astype(str)
NW_Region['RegionID'] = NW_Region['RegionID'].astype(str)

# Drop duplicates, keeping the last entry for each 'EmployeeID'
unique_employee_territories = EmployeeTerritories.drop_duplicates(subset='EmployeeID', keep='last')

# Merge NW_Employee with unique_employee_territories to add TerritoryID
NW_Employee = pd.merge(NW_Employee, unique_employee_territories[['EmployeeID', 'TerritoryID']], on='EmployeeID', suffixes=('', '_EmployeeTerritory'))

# Ensure 'TerritoryID' and 'RegionID' are the same type before merging
NW_Employee['TerritoryID'] = NW_Employee['TerritoryID'].astype(str)
NW_Territories['TerritoryID'] = NW_Territories['TerritoryID'].astype(str)

# Merge NW_Employee with NW_Territories to add RegionID and TerritoryDescription
NW_Employee = pd.merge(NW_Employee, NW_Territories[['TerritoryID', 'RegionID', 'TerritoryDescription']], on='TerritoryID', suffixes=('', '_Territory'))

# Ensure 'RegionID' is the same type before merging
NW_Employee['RegionID'] = NW_Employee['RegionID'].astype(str)
NW_Region['RegionID'] = NW_Region['RegionID'].astype(str)

# Merge NW_Employee with NW_Region to add RegionDescription
NW_Employee = pd.merge(NW_Employee, NW_Region[['RegionID', 'RegionDescription']], on='RegionID', suffixes=('', '_Region'))

# Ensure the final DataFrame has unique employees
NW_Employee = NW_Employee.drop_duplicates(subset='EmployeeID', keep='last')

# Print the final merged DataFrame
print(NW_Employee)

  EmployeeID   LastName FirstName                     Title TitleOfCourtesy  \
0          1    Davolio     Nancy      Sales Representative               F
1          2     Fuller    Andrew     Vice President, Sales               M
2          3  Leverling     Janet      Sales Representative               F
3          4    Peacock  Margaret      Sales Representative               F
4          5   Buchanan    Steven             Sales Manager               M
5          6     Suyama   Michael      Sales Representative               M
6          7       King    Robert      Sales Representative               M
7          8   Callahan     Laura  Inside Sales Coordinator               F
8          9  Dodsworth      Anne      Sales Representative               F

   BirthDate   HireDate                         Address      City Region  ...  \
0 1948-12-08 1992-05-01       507 - 20th Ave. E.Apt. 2A   Seattle     WA  ...
1 1952-02-19 1992-08-14              908 W. Capital Way    Tacoma     WA  ...
2 1963-08-30 1992-04-01              722 Moss Bay Blvd.  Kirkland     WA  ...
3 1937-09-19 1993-05-03            4110 Old Redmond Rd.   Redmond     WA  ...
4 1955-03-04 1993-10-17                 14 Garrett Hill    London   None  ...
5 1963-07-02 1993-10-17       Coventry House\nMiner Rd.    London   None  ...
6 1960-05-29 1994-01-02  Edgeham Hollow\nWinchester Way    London   None  ...
7 1958-01-09 1994-03-05           4726 - 11th Ave. N.E.   Seattle     WA  ...
8 1966-01-27 1994-11-15               7 Houndstooth Rd.    London   None  ...

        HomePhone Extension  \
0  (206) 555-9857      5467
1  (206) 555-9482      3457
2  (206) 555-3412      3355
3  (206) 555-8122      5176
4   (71) 555-4848      3453
5   (71) 555-7773       428
6   (71) 555-5598       465
7  (206) 555-1189      2344
8   (71) 555-4444       452

                                               Photo  \
0  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...
1  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...
2  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...
3  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...
4  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...
5  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...
6  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...
7  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...
8  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...

                                               Notes ReportsTo  \
0  Education includes a BA in psychology from Col...       2.0
1  Andrew received his BTS commercial in 1974 and...       NaN
2  Janet has a BS degree in chemistry from Boston...       2.0
3  Margaret holds a BA in English literature from...       2.0
4  Steven Buchanan graduated from St. Andrews Uni...       2.0
5  Michael is a graduate of Sussex University (MA...       5.0
6  Robert King served in the Peace Corps and trav...       5.0
7  Laura received a BA in psychology from the Uni...       2.0
8  Anne has a BA degree in English from St. Lawre...       5.0

                                PhotoPath  TerritoryID RegionID  \
0    http://accweb/emmployees/davolio.bmp        19713        1
1     http://accweb/emmployees/fuller.bmp        40222        1
2  http://accweb/emmployees/leverling.bmp        33607        4
3    http://accweb/emmployees/peacock.bmp        27511        1
4   http://accweb/emmployees/buchanan.bmp        14450        1
5    http://accweb/emmployees/davolio.bmp        98104        2
6    http://accweb/emmployees/davolio.bmp        95060        2
7    http://accweb/emmployees/davolio.bmp        53404        3
8    http://accweb/emmployees/davolio.bmp        55439        3

                                TerritoryDescription  \
0  Neward                                        ...
1  Louisville                                    ...
2  Tampa                                         ...
3  Cary                                          ...
4  Fairport                                      ...
5  Seattle                                       ...
6  Santa Cruz                                    ...
7  Racine                                        ...
8  Minneapolis                                   ...

                                   RegionDescription
0  Eastern                                       ...
1  Eastern                                       ...
2  Southern                                      ...
3  Eastern                                       ...
4  Eastern                                       ...
5  Western                                       ...
6  Western                                       ...
7  Northern                                      ...
8  Northern                                      ...

[9 rows x 22 columns]

Years in service

In [9]:
# Function to parse mixed date formats
def parse_date(date_str):
    try:
        return pd.to_datetime(date_str, format='%d-%b-%Y %I:%M:%S %p', errors='coerce')
    except ValueError:
        return pd.to_datetime(date_str, errors='coerce')

# Apply the parse_date function to the Hire_date column
NW_Employee['HireDate'] = NW_Employee['HireDate'].apply(parse_date)

# Calculate the number of years in service
current_date = datetime.now()
NW_Employee['Years_in_Service'] = NW_Employee['HireDate'].apply(lambda x: current_date.year - x.year - ((current_date.month, current_date.day) < (x.month, x.day)) if pd.notnull(x) else None)

AenC

In [10]:
AC_Employee = pd.merge(AC_Employee, state, left_on= 'state', right_on= 'state_id')

# Replace 'USA' with 'US' in the Country column
AC_Employee['country'] = AC_Employee['country'].replace('USA', 'US')

In [11]:
manager_df = pd.DataFrame(AC_Employee)

# Extract unique manager IDs
manager_ids = manager_df['manager_id'].unique()

# Update Job_title to 'Manager' for employees who are managers
AC_Employee.loc[AC_Employee['emp_id'].isin(manager_ids.astype(str)), 'Job_title'] = 'Manager'

print(AC_Employee)

   emp_id manager_id  emp_fname   emp_lname dept_id  \
0     102        501       Fran     Whitney     100
1     105        501    Matthew        Cobb     100
2     129        902     Philip        Chin     200
3     148       1293      Julie      Jordan     300
4     160        501     Robert     Breault     100
..    ...        ...        ...         ...     ...
70   1643       1576  Elizabeth     Lambert     400
71   1658        703    Michael       Lynch     500
72   1684       1576      Janet  Hildebrand     400
73   1740       1576     Robert     Nielsen     400
74   1751       1576       Alex       Ahmed     400

                       street        city state zip_code       phone  ...  \
0   49 East Washington Street     Needham    MA    02192  6175553985  ...
1          77 Pleasant Street     Waltham    MA    02154  6175553840  ...
2              59 Pond Street     Atlanta    GA    30339  4045552341  ...
3      144 Great Plain Avenue  Winchester    MA    01890  6175557835  ...
4            58 Cherry Street      Milton    MA    02186  6175553099  ...
..                        ...         ...   ...      ...         ...  ...
70            29 Union Street  Burlington    MA    01803  6175552357  ...
71          76 Brookside Road     Waltham    MA    02154  6175558348  ...
72          47 Hilltop Street     Waltham    MA    02154  6175553845  ...
73          55 Sargent Avenue     Bedford    MA    01730  6175558757  ...
74         114 Cushing Street     Needham    MA    02192  6175558748  ...

   bene_health_ins bene_life_ins bene_day_care sex state_id     state_name  \
0                Y             Y             N   F       MA  Massachusetts
1                Y             Y             N   M       MA  Massachusetts
2                Y             Y             N   M       GA        Georgia
3                Y             Y             N   F       MA  Massachusetts
4                Y             Y             Y   M       MA  Massachusetts
..             ...           ...           ...  ..      ...            ...
70               Y             Y             N   F       MA  Massachusetts
71               Y             Y             N   M       MA  Massachusetts
72               Y             Y             N   F       MA  Massachusetts
73               Y             Y             N   M       MA  Massachusetts
74               Y             Y             N   M       MA  Massachusetts

   state_capital country   region Job_title
0         Boston      US  Eastern       NaN
1         Boston      US  Eastern       NaN
2        Atlanta      US    South       NaN
3         Boston      US  Eastern       NaN
4         Boston      US  Eastern       NaN
..           ...     ...      ...       ...
70        Boston      US  Eastern       NaN
71        Boston      US  Eastern       NaN
72        Boston      US  Eastern       NaN
73        Boston      US  Eastern       NaN
74        Boston      US  Eastern       NaN

[75 rows x 26 columns]

Years in service

In [12]:
# Function to parse mixed date formats
def parse_date(date_str):
    try:
        return pd.to_datetime(date_str, format='%d-%b-%Y %I:%M:%S %p', errors='coerce')
    except ValueError:
        return pd.to_datetime(date_str, errors='coerce')

# Apply the parse_date function to the Hire_date column
AC_Employee['start_date'] = AC_Employee['start_date'].apply(parse_date)

# Calculate the number of years in service
current_date = datetime.now()
AC_Employee['Years_in_Service'] = AC_Employee['start_date'].apply(lambda x: current_date.year - x.year - ((current_date.month, current_date.day) < (x.month, x.day)) if pd.notnull(x) else None)

Rename columns

In [13]:
AW_Employee.rename(columns={
    'BusinessEntityID': 'EmployeeID',
    'Group' : 'Region',
    'CountryRegionCode' : 'Country',
    'StateProvinceCode' : 'State',
    'AddressLine1' : 'Address',
    'JobTitle' : 'Job_title',
    'BirthDate' : 'Birth_date',
    'HireDate': 'Hire_date'

}, inplace=True)

# change shipvia to string 
#Northwind_Order['ShipVia'] = Northwind_Order['ShipVia'].astype(str)
NW_Employee.rename(columns={
    'Title': 'Job_title',
    'RegionDescription' : 'Region',
    'Region' : 'State',
    'BirthDate' : 'Birth_date',
    'HireDate': 'Hire_date',
    'TitleOfCourtesy' : 'Gender'
    
}, inplace=True)

AC_Employee.rename(columns={
    'emp_id': 'EmployeeID',
    'emp_fname': 'FirstName',
    'emp_lname': 'LastName',
    'region' : 'Region', 
    'country' : 'Country',
    'state': 'State',
    'city': 'City',
    'zip_code': 'PostalCode',
    'street': 'Address',
    'dept_id' : 'DepartmentID',
    'birth_date' : 'Birth_date',
    'start_date': 'Hire_date',
    'sex' : 'Gender',
    
}, inplace=True)

AW regions aanpassen

In [14]:
# Update the 'Region' field for 'AW' employees where Region is 'North America' to 'Northern'
AW_Employee.loc[AW_Employee['Region'] == 'North America', 'Region'] = 'Northern'

Northwind London locations aanpassen

In [15]:
# Function to update 'State' and 'Country' for employees in London
def update_london_employees(df):
    for index, row in df.iterrows():
        if row['City'] == 'London':
            df.at[index, 'State'] = 'ENG'
            df.at[index, 'Country'] = 'GB'
    return df

# Update the NW_Employee DataFrame
NW_Employee = update_london_employees(NW_Employee)

# Print the updated DataFrame to check the changes
print(NW_Employee)

  EmployeeID   LastName FirstName                 Job_title Gender Birth_date  \
0          1    Davolio     Nancy      Sales Representative      F 1948-12-08
1          2     Fuller    Andrew     Vice President, Sales      M 1952-02-19
2          3  Leverling     Janet      Sales Representative      F 1963-08-30
3          4    Peacock  Margaret      Sales Representative      F 1937-09-19
4          5   Buchanan    Steven             Sales Manager      M 1955-03-04
5          6     Suyama   Michael      Sales Representative      M 1963-07-02
6          7       King    Robert      Sales Representative      M 1960-05-29
7          8   Callahan     Laura  Inside Sales Coordinator      F 1958-01-09
8          9  Dodsworth      Anne      Sales Representative      F 1966-01-27

   Hire_date                         Address      City State  ... Extension  \
0 1992-05-01       507 - 20th Ave. E.Apt. 2A   Seattle    WA  ...      5467
1 1992-08-14              908 W. Capital Way    Tacoma    WA  ...      3457
2 1992-04-01              722 Moss Bay Blvd.  Kirkland    WA  ...      3355
3 1993-05-03            4110 Old Redmond Rd.   Redmond    WA  ...      5176
4 1993-10-17                 14 Garrett Hill    London   ENG  ...      3453
5 1993-10-17       Coventry House\nMiner Rd.    London   ENG  ...       428
6 1994-01-02  Edgeham Hollow\nWinchester Way    London   ENG  ...       465
7 1994-03-05           4726 - 11th Ave. N.E.   Seattle    WA  ...      2344
8 1994-11-15               7 Houndstooth Rd.    London   ENG  ...       452

                                               Photo  \
0  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...
1  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...
2  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...
3  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...
4  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...
5  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...
6  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...
7  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...
8  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...

                                               Notes ReportsTo  \
0  Education includes a BA in psychology from Col...       2.0
1  Andrew received his BTS commercial in 1974 and...       NaN
2  Janet has a BS degree in chemistry from Boston...       2.0
3  Margaret holds a BA in English literature from...       2.0
4  Steven Buchanan graduated from St. Andrews Uni...       2.0
5  Michael is a graduate of Sussex University (MA...       5.0
6  Robert King served in the Peace Corps and trav...       5.0
7  Laura received a BA in psychology from the Uni...       2.0
8  Anne has a BA degree in English from St. Lawre...       5.0

                                PhotoPath TerritoryID  RegionID  \
0    http://accweb/emmployees/davolio.bmp       19713         1
1     http://accweb/emmployees/fuller.bmp       40222         1
2  http://accweb/emmployees/leverling.bmp       33607         4
3    http://accweb/emmployees/peacock.bmp       27511         1
4   http://accweb/emmployees/buchanan.bmp       14450         1
5    http://accweb/emmployees/davolio.bmp       98104         2
6    http://accweb/emmployees/davolio.bmp       95060         2
7    http://accweb/emmployees/davolio.bmp       53404         3
8    http://accweb/emmployees/davolio.bmp       55439         3

                                TerritoryDescription  \
0  Neward                                        ...
1  Louisville                                    ...
2  Tampa                                         ...
3  Cary                                          ...
4  Fairport                                      ...
5  Seattle                                       ...
6  Santa Cruz                                    ...
7  Racine                                        ...
8  Minneapolis                                   ...

                                              Region Years_in_Service
0  Eastern                                       ...               32
1  Eastern                                       ...               31
2  Southern                                      ...               32
3  Eastern                                       ...               31
4  Eastern                                       ...               30
5  Western                                       ...               30
6  Western                                       ...               30
7  Northern                                      ...               30
8  Northern                                      ...               29

[9 rows x 23 columns]

AenC Region aanpassen

In [16]:
# Update the 'Region' field for 'AC' employees where Region is 'South' to 'Southern'
AC_Employee.loc[AC_Employee['Region'] == 'South', 'Region'] = 'Southern'

Prefix voor employee

In [17]:
# Adding a prefix to EmployeeIDs for each source DataFrame
AW_Employee['EmployeeID'] = AW_Employee['EmployeeID'].apply(lambda x: f'AW_{x}')
NW_Employee['EmployeeID'] = NW_Employee['EmployeeID'].apply(lambda x: f'NW_{x}')
AC_Employee['EmployeeID'] = AC_Employee['EmployeeID'].apply(lambda x: f'AC_{x}')

# maar dan ook prefix zetten in bijbehorende dimensies en tabellen.

Employee tabel samenvoegen

In [18]:


#Zorg ervoor dat alle vereiste kolommen bestaan en selecteer ze
required_columns = ['EmployeeID', 'FirstName', 'LastName', 'Region', 'Country', 'State', 'City', 'PostalCode', 'Address', 'DepartmentID', 'Job_title', 'Birth_date', 'Hire_date', 'Years_in_Service', 'Gender']


for col in required_columns:
    if col not in AW_Employee.columns:
        AW_Employee[col] = None
    if col not in NW_Employee.columns:
        NW_Employee[col] = None
    if col not in AC_Employee.columns:
        AC_Employee[col] = None

# Selecteer de kolommen in de juiste volgorde
AW_Employee = AW_Employee[required_columns]
NW_Employee = NW_Employee[required_columns]
AC_Employee = AC_Employee[required_columns]

# Combineer de dataframes
Employee = pd.concat([AW_Employee, NW_Employee, AC_Employee], ignore_index=True)

# Toon het resultaat
#print the colom types van employee

print(Employee.dtypes)

EmployeeID                  object
FirstName                   object
LastName                    object
Region                      object
Country                     object
State                       object
City                        object
PostalCode                  object
Address                     object
DepartmentID                object
Job_title                   object
Birth_date                  object
Hire_date           datetime64[ns]
Years_in_Service             int64
Gender                      object
dtype: object

employee Years in service kolom maken

In [19]:

# Ensure correct data types and formats
if 'birth_date' in Employee.columns and 'start_date' in Employee.columns:
    Employee['birth_date'] = pd.to_datetime(Employee['birth_date'], errors='coerce')
    Employee['start_date'] = pd.to_datetime(Employee['start_date'], errors='coerce')
else:
    print("Columns 'birth_date' and/or 'start_date' are missing in the DataFrame")

# Insert data into the table
for index, row in Employee.iterrows():
    try:
        query = """
        INSERT INTO [Employee] (EmployeeID, FirstName, LastName, Region, Country, State, City, PostalCode, Address, DepartmentID, Job_title, Birth_date, Hire_date, Years_in_Service, Gender)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
        """
        params = (
            row['EmployeeID'] if pd.notnull(row['EmployeeID']) else None,
            row['FirstName'] if pd.notnull(row['FirstName']) else None,
            row['LastName'] if pd.notnull(row['LastName']) else None,
            row['Region'] if pd.notnull(row['Region']) else None,
            row['Country'] if pd.notnull(row['Country']) else None,
            row['State'] if pd.notnull(row['State']) else None,
            row['City'] if pd.notnull(row['City']) else None,
            row['PostalCode'] if pd.notnull(row['PostalCode']) else None,
            row['Address'] if pd.notnull(row['Address']) else None,
            int(row['DepartmentID']) if pd.notnull(row['DepartmentID']) else None,
            row['Job_title'] if pd.notnull(row['Job_title']) else None,
            row['Birth_date'] if pd.notnull(row['Birth_date']) else None,
            row['Hire_date'] if pd.notnull(row['Hire_date']) else None,
            row['Years_in_Service'] if pd.notnull(row['Years_in_Service']) else None,
            row['Gender'] if pd.notnull(row['Gender']) else None
            
        )
        export_cursor.execute(query, params)
    except pyodbc.Error as e:
        print(f"An error occurred: {e}")
        print(query)
        print("Parameters:", params)

export_conn.commit()

Columns 'birth_date' and/or 'start_date' are missing in the DataFrame

### **Data_mutatie simuleren**

In [ ]:
# Function to merge data into Employee table
def merge_employee(employee_id, first_name, last_name, region, country, state, city, postal_code, address, department_id, job_title, birth_date, hire_date, years_in_service, gender):
    merge_query = "{CALL MergeEmployee (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)}"
    export_cursor.execute(merge_query, (employee_id, first_name, last_name, region, country, state, city, postal_code, address, department_id, job_title, birth_date, hire_date, years_in_service, gender))
    export_conn.commit()
    print("Merged into Employee table")

In [ ]:
try:
    # Merge into Employee table
    merge_employee('E123', 'John', 'Smith', 'Region1', 'Country1', 'State1', 'City1', '12345', '123 Main St', 101, 'Manager', '1980-01-01', '2010-01-01', 14, 'M')
    merge_employee('E123', 'John', 'Doe', 'Region1', 'Country1', 'State1', 'City1', '12345', '123 Main St', 102, 'Senior Manager', '1980-01-01', '2010-01-01', 14, 'M')
    merge_employee('AC_1751', 'John', 'Doe', 'Region1', 'Country1', 'State1', 'City1', '12345', '123 Main St', 102, 'Senior Manager', '1980-01-01', '2010-01-01', 14, 'M')


finally:
    # Close the connection
    print("Connection closed")